# Miscellaneous & OS
*.class
*.log
*.pyc
*.swp
*.swo
*~
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart / Pub
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
**/build/
/coverage/
coverage/
*.lcov
.metadata

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android build outputs & local config
/android/app/debug
/android/app/profile
/android/app/release
**/android/.gradle/
**/android/captures/
**/android/gradleBuild/
*.apk
*.aab
*.aar

# iOS / macOS Flutter outputs
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Pods/
**/ios/.symlinks/
**/ios/profile
**/ios/debug
**/ios/release
**/macos/Flutter/ephemeral/
**/windows/flutter/ephemeral/
**/linux/flutter/ephemeral/

# Environment variables & secrets
.env
*.env
.env.*
!.env.example
analysis.txt

# Keystores, signing keys & certificates
key.properties
local.properties
**/*.keystore
**/*.jks
*.pem
*.p12
*.pfx
*.key
*.cer
*.crt
*.der
google-services.json
GoogleService-Info.plist
